@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
    --primary: #474747;
    --bg: #d9d9d9;
    --act: #ffe54c;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    color: var(--primary);
}

.header {
    position: relative;
    width: 100%;
    min-height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/mpk.png);
    background-position: center;
    background-size: cover;
}

.navbar-extra {
    display: none;
    color: var(--bg);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 6%;
    background-color: transparent;
    position: relative;
    color: white;
    width: 100%;
    z-index: 9999;
    background-color: #474747;
    position: fixed;
}

.navbar-side {
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: absolute;
    right: 10%;
    top: 2%;
    left: 90%;
    z-index: 9999;
    position: fixed;
}

.navbar .navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 9999;
}

.navbar .navbar-logo .logo {
    width: 60px;
}

.navbar .navbar-logo .text-logo {
    margin-left: 15px;
    margin-bottom: 5px;
}

.navbar .navbar-logo .text-logo p {
    font-size: 10px;
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    margin: 0 1.4rem;
    font-weight: bold;
    font-size: 17px;
}

.dropdown {
    float: right;
    overflow: hidden;
    margin: 0 1.4rem;
}

.dropdown .dropbtn {
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.navbar .navbar-nav a:hover,
.dropdown:hover .dropbtn {
    color: var(--act);
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 12px;
    background-color: var(--primary);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin: 0 10px;
}

.dropdown .dropdown-content a {
    float: none;
    color: var(--bg);
    padding: 12px 0;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-side .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
    right: 100%;
}

.navbar-side .navbar-extra a:hover {
    color: var(--act);
}

.one {
    display: flex;
    justify-content: center;
    padding-top: 7%;
}

.top-card {
    min-width: 200px;
    background-color: #fff;
    padding: 2%;
    margin: 5% 10%;
    border-radius: 25px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.4);
}

.top-card-title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
}

.top-card-desc {
    padding: 10px;
}

.btn-box {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 10px;
}

.btn-send {
    background-color: #ffe54c;
    padding: 7px 15px;
    margin: 0 25px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}

.btn-send:hover {
    background-color: #bcad58;
}

/* section 2*/

.two {
    text-align: center;
}

.two h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.two h2 {
    font-weight: bold;
    color: #c63c24;
}

/* section 3*/
.third {
    padding: 5%;
}

.accordion {
    min-width: auto;
}

.accordion .content-box {
    position: relative;
    margin: 10px 5%;
}

.accordion .content-box .label {
    position: relative;
    padding: 15px;
    background-color: #cccccc;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

.accordion .content-box .label::before {
    content: "+";
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 1.3rem;
    transform: translateY(-50%);
    color: #c63c24;
}

.accordion .content-box .content {
    position: relative;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    overflow-y: auto;
}

.accordion .content-box.active .content {
    height: auto;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
}

.accordion .content-box.active .label::before {
    content: "-";
}

/* bottom navigations */
.btm-nav {
    margin-top: 25px;
    flex: 1;
    text-align: center;
    background-color: #474747;
}
.btm-nav ul li {
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.btm-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.8px;
}

.btm-nav ul li a:hover {
    color: #ffe54c;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    font-weight: bold;
}

/* Styles for mobile screens 480px and other device with less 780px*/
@media only screen and (max-width: 780px) {
    html {
        font-size: 75%;
    }

    .header {
        position: relative;
        width: 100%;
        min-height: auto;
    }

    .navbar-extra {
        display: block;
        position: fixed;
        right: 5%;
        top: 2%;
    }

    .navbar-nav {
        background-color: #333;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 20rem;
        height: 100vh;
        transition: 0.5s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1rem;
    }

    .dropdown .dropbtn {
        color: var(--bg);
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-right: 150px;
    }

    .navbar .navbar-logo .logo {
        width: 40px;
    }

    .navbar .navbar-logo .text-logo {
        margin-left: 10px;
        margin-bottom: 2px;
    }

    footer {
        font-size: 14px;
    }

    .one {
        padding-top: 13%;
    }

    /* Card */

    .top-card-title {
        font-size: 30px;
    }

    .top-card-desc {
        padding: 10px;
    }

    .btn-send {
        padding: 5px 10px;
    }

    /* section 2*/

    .two h1 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .two h2 {
        font-weight: bold;
        color: #c63c24;
        font-size: 20px;
    }
}
