@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


:root {
  --primary: #474747;
  --bg: #d9d9d9;
  --act: #ffe54c;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--primary);
}

.header {
  position: relative;
  width: 100%;
  min-height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../mpk-bg.jpg);
  background-position: center;
  background-size: cover;
}

.navbar-extra {
  display: none;
  position: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 6%;
  background-color: transparent;
  position: fixed;
  color: white;
  width: 100%;
  z-index: 9999;
}


/* sticky navbar */

.sticky {
  background-color: var(--primary);
  padding-bottom: 1%;
}

.navbar-side {
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute;
  right: 10%;
  top: 2%;
  left: 90%;
  z-index: 9999;
}

.navbar .navbar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 9999;
}

.navbar .navbar-logo .logo {
  width: 60px;
}

.navbar .navbar-logo .text-logo {
  margin-left: 15px;
  margin-bottom: 5px;
}

.navbar .navbar-logo .text-logo p {
  font-size: 10px;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  margin: 0 1.4rem;
  font-weight: bold;
  font-size: 17px;
}

.dropdown {
  float: right;
  overflow: hidden;
  margin: 0 1.4rem;
}

.dropdown .dropbtn {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  font-size: 17px;
  font-weight: bold;
  color: white;
}

.navbar .navbar-nav a:hover,
.dropdown:hover .dropbtn {
  color: var(--act);
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 12px;
  background-color: var(--primary);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin: 0 10px;
}

.dropdown .dropdown-content a {
  float: none;
  color: var(--bg);
  padding: 12px 0;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-side .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
  right: 100%;
}

.navbar-side .navbar-extra a:hover {
  color: var(--act);
}

  

/* .header{
    position: relative;
    width: 100%;
    min-height: auto;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../mpk.png);
    background-size:cover;
} */

/* text-box */
.text-box {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.text-box h1{
    font-size: 40px;    
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 0.9rem;
    font-weight: bold;
}

.one{
    display: flex;
    justify-content: center;
    padding-top: 7%;
    align-items: center;
}

.one .top-card {
    /* min-width: 100px; */
    padding: 5%;
    height: fit-content;
    background-color: #fff;
    margin: 5% 10%;
    border-radius: 25px;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.4);
    
}

.top-card h3{
    text-align: center;
}

.top-card-desc{
    padding: 10px;
}

.btn-box {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 10px;
}

.btn-send{
    background-color: #FFE54C;
    padding: 7px 15px;
    margin: 0 25px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.4);
}


.left-card .card-left-container{
    background-color: #fff;
    padding: 2%;
    margin: 5% 10%;
    text-align: justify;
    border-radius: 25px;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.4);
}

.left-card .top-card-title{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.left-card .top-card-title::after{
    content: "''";
}


/* Section 2*/

.card {
    background-color: #fff;
    padding: 1%;
    margin: 5% 7%;
    border-radius: 25px;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.4);
}

.cards{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.card-top{
    display: flex;
    padding: 30px;
    justify-content: center;
}

.card-midlle{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.card-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.card-background{
    width: 275px;
    height: 346px;
    position: relative;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.card-background .card-anggota {
    display: flex;
    flex-direction: column;
    
}

.card-background .card-anggota img{
    width: fit-content;
    border-radius: 25px;
}

.card-background .card-anggota .button-card{
    position: absolute;
    left: 0;
    top: 95%;
    right: 0;
    bottom: 0;
    margin: auto;
}

.card-anggota .button-card a{
    background-color: #FFE54C;
    text-decoration: none;
    padding: 5px 20px;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.7px;
    border-radius: 15px;
}


.card-anggota .button-card a:hover{
    background-color: #bcad58;
    /* transform: scale(1.1); */
    /* color: #FFE54C; */
  }




/* section 2*/

.two {
    text-align: center;
}

.two h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.two h2 {
    font-weight: bold;
    color: #C63C24;
}

/* bottom navigations */
.btm-nav{
    margin-top: 25px;
    flex: 1;
    text-align: center;
    background-color: #474747;
  }
  .btm-nav ul li {
    display: inline-block;
    position: relative;
    padding: 8px 12px;
  }
  
  .btm-nav ul li a{
      color: #fff;
      text-decoration: none;
      font-size: 13px;
      letter-spacing: 0.8px;
  }
  
  .btm-nav ul li a:hover {
      color: #FFE54C;
  }
  
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    font-weight: bold;
  }


  /* Styles for mobile screens 480px and other device with less 780px*/ 
@media only screen and (max-width: 780px) {
  html {
    font-size: 75%;
}

.header {
    position: relative;
    width: 100%;
    min-height: auto;
}

.navbar-extra {
    display: block;
    position: fixed;
    right: 5%;
    top: 2%;
}

.navbar-nav {
    background-color: #333;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 20rem;
    height: 100vh;
    transition: 0.5s;
}

.navbar .navbar-nav.active {
    right: 0;
}

.navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.dropdown .dropbtn {
    color: var(--bg);
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-right: 150px;
}

.navbar .navbar-logo .logo {
    width: 40px;
}

.navbar .navbar-logo .text-logo {
    margin-left: 10px;
    margin-bottom: 2px;
}


  /* text box */

  .text-box h1{
    font-size: 20px;    
  }

  .text-box p{
    margin: 10px 0 40px;
    font-size: 10px;
  }



  .one{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 7%;
    align-items: center;
  }

  .top-card {
      /* min-width: 100px; */
      height: fit-content;
      background-color: #fff;
      padding: 2%;
      margin: 5% 10%;
      border-radius: 25px;
      box-shadow: 3px 4px 5px rgba(0,0,0,0.4);
      text-align: center;
      
  }

  .top-card h3{
      text-align: center;
  }

  .top-card-desc{
      padding: 10px;
  }

  .btn-box {
      padding-top: 50px;
      text-align: center;
      padding-bottom: 10px;
  }

  .btn-send{
      background-color: #FFE54C;
      padding: 7px 15px;
      margin: 0 25px;
      text-decoration: none;
      color: #000;
      font-weight: 600;
      border-radius: 10px;
      box-shadow: 2px 3px 3px rgba(0,0,0,0.4);
  }

  .left-card {
    display: flex;
    justify-content: center;
    margin: 0 5.5%;
  }

  .left-card .card-left-container{
      margin: 2%;
      background-color: #fff;
      padding: 3%;
      width: fit-content;
      /* margin: 5% 10%; */
      border-radius: 25px;
      box-shadow: 3px 4px 5px rgba(0,0,0,0.4);
      text-align: justify;
  }

  .left-card .top-card-title{
      padding: 10px;
      display: flex;
      justify-content: space-between;
  }

  .left-card .top-card-title::after{
      content: "''";
  }


    /* cards */

  .card-bottom, .card-midlle {
    display: flex;
    flex-wrap: wrap;
  }

  .card-bottom .card-background, .card-midlle .card-background {
    margin: 10px;
  }




    /* .card h1 {
      font-size: 20px;
    }

    .card h2 {
      font-size: 15px;
    }

    .card-background{
      width: auto;
      height: auto;
      position: relative;
      background-color: #D9D9D9;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
  }
  
  .card-background .card-anggota {
      display: flex;
      flex-direction: column;
      
  }
  
  .card-background .card-anggota img{
      width: 100px;
      height: 140px;
      border-radius: 25px;
      
  }
  
  .card-background .card-anggota .button-card{
      position: absolute;
      left: 0;
      top: 95%;
      right: 0;
      bottom: 0;
      margin: auto;
  }
  
  .card-anggota .button-card a{
      background-color: #FFE54C;
      text-decoration: none;
      padding: 0 10px;
      font-weight: bold;
      color: #000;
      letter-spacing: 0.7px;
      border-radius: 15px;
      font-size: 12px;
  }
  
  .card-anggota .button-card a:hover{
      background-color: #bcad58;
      /* transform: scale(1.1); */
      /* color: #FFE54C; */
    /* } */

    footer {
        font-size: 14px;
    }
}


@media only screen and (max-width: 1050px) {
  /* .card-bottom, .card-midlle {
    display: flex;
    flex-wrap: wrap;
  }
  */

  .card-bottom .card-background {
    margin: 10px;
  }

  /* .card-bottom, .card-midlle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  } */
}